*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
}

.card{
    animation: moveCard 0.7s;
}

.image :hover{
    opacity: 0.8;
}

.menu-horizontal{
    font-size: 1rem;
}

.menu-horizontal i{
    color: aqua;
    right: 8px;
    font-size: 2rem;
}

.hamburguer{
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {
    width: 100%;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 1px black;
}

.corpo{
    top: 4rem;
}

.menu-vertical{
    left: 0;
    transition: all 0.4s;
}

.menu-vertical.show-menu{
    left: -50rem;
}


@keyframes moveCard {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}